langgraph>=0.0.55
langchain>=0.1.0
langchain-community>=0.0.38
langchain-openai>=0.0.8
pydantic>=2.0.0
typing-extensions>=4.5.0
pillow>=9.0.0
requests>=2.25.0
wikipedia>=1.4.0
arxiv>=2.0.0
duckduckgo-search>=3.8.0
matplotlib==3.10.3
huggingface-hub==0.33.4
datasets==4.0.0
vllm==0.9.2
pycocoevalcap==1.2
bert_score==0.3.13
scikit_learn==1.5.2
processor==0.10.0


#-------- For ViVQA model --------
# Do NOT run `pip install -r requirements.txt` directly due to conflicting package versions.
# Please follow these steps in your terminal inside a clean environment (e.g., conda, venv).
# -------------------------------------------------------------------------------------------------
# Step 1: Install the main, non-conflicting libraries for the ViVQA model: pip install timm underthesea efficientnet_pytorch transformers
#
# -------------------------------------------------------------------------------------------------
# Step 2: Install the two packages that have conflicts. The second command will likely
#         change the versions installed by the first. This is expected.
#      2.1: pip install salesforce-lavis
#      2.2: pip install torchscale